<% if (allPageNumber > 1 && page <= allPageNumber) { %>
<nav aria-label="Page navigation">
    <ul class="pagination" style="margin: 20px 0; display: inline-block;">
        <!-- 上一页 -->
        <% if (page > 1 && page <= allPageNumber) { %>
        <li>
            <a href="/search?q=<%= q %>&page=<%= page - 1 %>&category=<%= category %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% } %>
        <!-- 当前页 - 3 -->
        <% if (page - 3 > 1) { %>
        <li><a href="/search?q=<%= q %>&page=<%= page - 3 %>&category=<%= category %>"><%= page - 3 %></a></li>
        <% } %>
        <!-- 当前页 - 2 -->
        <% if (page - 2 > 1) { %>
        <li><a href="/search?q=<%= q %>&page=<%= page - 2 %>&category=<%= category %>"><%= page - 2 %></a></li>
        <% } %>
        <!-- 当前页 - 1 -->
        <% if (page - 1 > 1) { %>
        <li><a href="/search?q=<%= q %>&page=<%= page - 1 %>&category=<%= category %>"><%= page - 1 %></a></li>
        <% } %>
        <!-- 当前页 -->
        <li class="active"><a href="#" style="border-color: #ea6f5a; color: #ea6f5a; background-color: #fff;"><%= page %> <span
                        class="sr-only"><%= page %></span></a></li>
        <!-- 当前页 + 1 -->
        <% if (page + 1 <= allPageNumber) { %>
        <li><a href="/search?q=<%= q %>&page=<%= page + 1 %>&category=<%= category %>"><%= page + 1 %></a></li>
        <% } %>
        <!-- 当前页 + 2 -->
        <% if (page + 2 <= allPageNumber) { %>
        <li><a href="/search?q=<%= q %>&page=<%= page + 2 %>&category=<%= category %>"><%= page + 2 %></a></li>
        <% } %>
        <!-- 当前页 + 3 -->
        <% if (page + 3 <= allPageNumber) { %>
        <li><a href="/search?q=<%= q %>&page=<%= page + 3 %>&category=<%= category %>"><%= page + 3 %></a></li>
        <% } %>
        <!-- 下一页 -->
        <% if (page > 0 && page < allPageNumber) { %>
        <li>
            <a href="/search?q=<%= q %>&page=<%= page + 1 %>&category=<%= category %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
<% } %>
