<% include _head.ejs %>
<% include _header.ejs %>
<% include _nav.ejs %>

<div class="container index">
    <div class="row">
        <div class="col-xs-20 main">
            <div class="recommend-collection">
                <div class="top-line">
                    <div class="row">
                        <a class="col-xs-4 col-lg-3 back-drop" href="/user/list?uid=9cd03250-4497-11e7-9536-5bbeaedf9ca9">
                            <img src="/tags/1.jpg" alt="195">
                            <div class="name">天天美剧</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/subject/电影">
                            <img src="/tags/2.jpg" alt="195">
                            <div class="name">电影</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/subject/文档">
                            <img src="/tags/3.jpg" alt="195">
                            <div class="name">文档</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/subject/视频">
                            <img src="/tags/4.jpg" alt="195">
                            <div class="name">视频</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/subject/书籍">
                            <img src="/tags/5.jpg" alt="195">
                            <div class="name">书籍</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/subject/音乐">
                            <img src="/tags/6.jpg" alt="195">
                            <div class="name">音乐</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/subject/图片">
                            <img src="/tags/7.jpg" alt="195">
                            <div class="name">图片</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" href="/">
                            <img src="/tags/1.jpg" alt="195">
                            <div class="name">更多专题</div>
                            <div class="mask"></div>
                        </a>
                    </div>
                </div>
            </div>

            <ul class="trigger-menu" data-pjax-container="#list-container">
                <li class="<%= category ? '' : 'active' %>"><a href="/search?q=<%= q %>&page=<%= page %>"><i class="iconfont ic-latestcomments"></i>全部</a></li>
                </li>
                <li class="<%= category.indexOf('电影') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=电影"><i class="iconfont ic-hot"></i>电影</a>
                </li>
                <li class="<%= category.indexOf('文档') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=文档"><i class="iconfont ic-articles"></i>文档</a>
                </li>
                <li class="<%= category.indexOf('视频') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=视频"><i class="iconfont ic-hot"></i>视频</a>
                </li>
                <li class="<%= category.indexOf('书籍') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=书籍"><i class="iconfont ic-hot"></i>书籍</a>
                </li>
                <li class="<%= category.indexOf('音乐') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=音乐"><i class="iconfont ic-articles"></i>音乐</a>
                </li>
                <li class="<%= category.indexOf('图片') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=图片"><i class="iconfont ic-hot"></i>图片</a>
                </li>
                <li class="<%= category.indexOf('其他') > -1 ? 'active' : '' %>"><a href="/search?q=<%= q %>&page=<%= page %>&category=其他"><i class="iconfont ic-hot"></i>其他</a>
                </li>
            </ul>

            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list" infinite-scroll-url="/">

                    <% list.forEach(function(item) { %>

                    <li id="note-8730937" data-note-id="8730937" class="have-img">
                        <div class="content">
                            <div class="author">
                                <a class="avatar" target="_blank" href="/user/list/<%= item.user.uid %>">
                                    <img src="/uploads/avatar/<%= item.user.avatar %>" alt="96">
                                </a>
                                <div class="name">
                                    <a class="blue-link" target="_blank"
                                       href="/user/list?uid=<%= item.user.uid %>"><%= item.user.name %></a>
                                    <span class="time"><%= item.date.toLocaleString() %></span>
                                </div>
                            </div>
                            <a class="title" target="_blank" href="<%= item.url ? '/redirect?url=' + encodeURIComponent(item.url) : '/article/detail/' + item.id %>">
                                <%= item.title %>
                            </a>
                            <p class="abstract">
                                <%= item.content.replace(/<[^>]+>/g, '').substring(0, 200) + '...' %>
                            </p>
                            <div class="meta">
                                <a class="collection-tag" target="_blank"
                                   href="/tags/<%= item.category %>"><%= item.category %>
                                </a>
                                <a target="_blank" href="/article/detail/<%= item.id %>">
                                    <i class="iconfont ic-list-read"></i>
                                    查看详情
                                </a>
                            </div>
                        </div>
                    </li>

                    <% }) %>

                </ul>
                <!-- 文章列表模块 -->

                <% include _pagination_search.ejs %>

            </div>
        </div>

        <% include _aside.ejs %>
    </div>
</div>
</div>
<div class="side-tool">
    <ul>
        <li class="back-top hide"><a href="#"><i class="iconfont ic-backtop"></i></a></li>
    </ul>
</div>


<% include _scripts.ejs %>
<% include _foot.ejs %>
