<% include _head.ejs %>
<% include _header.ejs %>
<% include _nav.ejs %>

<div class="container index">
    <div class="row">
        <div class="col-xs-20 main">
            <div class="recommend-collection">
                <div class="top-line">
                    <div class="row">
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/网页">
                            <img src="/tags/1.jpg" alt="195">
                            <div class="name">网页</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/电影">
                            <img src="/tags/2.jpg" alt="195">
                            <div class="name">电影</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/文档">
                            <img src="/tags/3.jpg" alt="195">
                            <div class="name">文档</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/视频">
                            <img src="/tags/4.jpg" alt="195">
                            <div class="name">视频</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/书籍">
                            <img src="/tags/5.jpg" alt="195">
                            <div class="name">书籍</div>
                            <div class="mask"></div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/音乐">
                            <img src="/tags/6.jpg" alt="195">
                            <div class="name">1.jpg</div>
                            <div class="mask">音乐</div>
                        </a>
                        <a class="col-xs-4 col-lg-3 back-drop" target="_blank" href="/subject/图片">
                            <img src="/tags/7.jpg" alt="195">
                            <div class="name">图片</div>
                            <div class="mask"></div>
                        </a>
                    </div>
                </div>
            </div>

            <ul class="trigger-menu" data-pjax-container="#list-container">
                <li class="<%= tag ? '' : 'active' %>"><a href="/"><i class="iconfont ic-latestcomments"></i>全部</a></li>
                <li class="<%= tag === '网页' ? 'active' : '' %>"><a href="/tags/网页"><i class="iconfont ic-articles"></i>网页</a>
                </li>
                <li class="<%= tag === '电影' ? 'active' : '' %>"><a href="/tags/电影"><i class="iconfont ic-hot"></i>电影</a>
                </li>
                <li class="<%= tag === '文档' ? 'active' : '' %>"><a href="/tags/文档"><i class="iconfont ic-articles"></i>文档</a>
                </li>
                <li class="<%= tag === '视频' ? 'active' : '' %>"><a href="/tags/视频"><i class="iconfont ic-hot"></i>视频</a>
                </li>
                <li class="<%= tag === '书籍' ? 'active' : '' %>"><a href="/tags/书籍"><i class="iconfont ic-hot"></i>书籍</a>
                </li>
                <li class="<%= tag === '音乐' ? 'active' : '' %>"><a href="/tags/音乐"><i class="iconfont ic-articles"></i>音乐</a>
                </li>
                <li class="<%= tag === '图片' ? 'active' : '' %>"><a href="/tags/图片"><i class="iconfont ic-hot"></i>图片</a>
                </li>
                <li class="<%= tag === '其他' ? 'active' : '' %>"><a href="/tags/其他"><i class="iconfont ic-hot"></i>其他</a>
                </li>
            </ul>

            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list" infinite-scroll-url="/">

                    <% list.forEach(function(item) { %>

                    <li id="note-8730937" data-note-id="8730937" class="have-img">
                        <div class="content">
                            <div class="author">
                                <a class="avatar" target="_blank" href="/user/list/<%= item.user.uid %>">
                                    <img src="/uploads/avatar/<%= item.user.avatar %>" alt="96">
                                </a>
                                <div class="name">
                                    <a class="blue-link" target="_blank"
                                       href="/user/list/<%= item.user.uid %>"><%= item.user.name %></a>
                                    <span class="time"><%= item.date.toLocaleString() %></span>
                                </div>
                            </div>
                            <a class="title" target="_blank" href="<%= item.url %>">
                                <%= item.title %>
                            </a>
                            <p class="abstract">
                                <%= item.content.replace(/<[^>]+>/g, '').substring(0, 200) + '...' %>
                            </p>
                            <div class="meta">
                                <a class="collection-tag" target="_blank"
                                   href="/tags/<%= item.category %>"><%= item.category %>
                                </a>
                                <a target="_blank" href="/article/detail/<%= item.id %>">
                                    <i class="iconfont ic-list-read"></i>
                                    查看详情
                                </a>
                            </div>
                        </div>
                    </li>

                    <% }) %>

                </ul>
                <!-- 文章列表模块 -->

                <% include _pagination_search.ejs %>

            </div>
        </div>

        <% include _aside.ejs %>
    </div>
</div>
</div>
<div class="side-tool">
    <ul>
        <li class="back-top hide"><a href="#"><i class="iconfont ic-backtop"></i></a></li>
    </ul>
</div>


<% include _scripts.ejs %>
<% include _foot.ejs %>
