<% include _head.ejs %>
<% include _header.ejs %>
<% include _nav.ejs %>

<style type="text/css">
    .csj-main-top {margin-bottom:35px;

    }
    .csj-main-top .avatar-collection {
        float:left;
        width:80px;
        height:80px;
    }
    .avatar-collection {
        display:block;
        cursor:pointer;
    }

    .csj-main-top .follow, .csj-main-top .follow-cancel, .csj-main-top .follow-each, .csj-main-top .following {
        padding:8px 0;
        width:100px;
    }

    .csj-main-top .btn{
        float:right;
        margin:23px 0 23px 16px;
        font-size:15px;
    }
    .follow {border-color:#42c02e}
    .btn-success {
        border-radius:40px;
        color:#fff;
        background-color:#42c02e
    }

    .csj-main-top .info{
        margin-top:10px;
        padding-left:100px;
        font-size:14px;
        color:#969696;
    }
    .csj-main-top .title .name{
        display: inline;
        font-size:21px;
        font-weight: 700;
        vertical-align: middle;
    }
    .csj-main-top .title{
        padding:10px 0 0 100px;
    }

    .csj-main-top .btn-hollow{
        padding:8px 0;
        width:90px;
    }
</style>

<div class="container index">
    <div class="row">
        <div class="col-xs-20 main">

            <!-- -->
            <div class="csj-main-top">
                <a class="avatar-collection" href="#">
                    <img src="/tags/3.jpg" alt="240">
                </a>        <a class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>
                <a class="btn btn-hollow" href="#">投稿</a>

                <div class="title">
                    <a class="name" href="#"><%= subject %>专题列表</a>
                </div>
                <div class="info">
                    收录了<%= count %>条内容
                </div>
            </div>

            <ul class="trigger-menu" data-pjax-container="#list-container">
                <li class="active"><a href="#"><i class="iconfont ic-latestcomments"></i><%= subject %></a></li>
            </ul>

            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list" infinite-scroll-url="/">

                    <% list.forEach(function(item) { %>

                    <li id="note-8730937" data-note-id="8730937" class="have-img">
                        <div class="content">
                            <div class="author">
                                <a class="avatar" target="_blank" href="/user/list/<%= item.user.uid %>">
                                    <img src="/uploads/avatar/<%= item.user.avatar %>" alt="96">
                                </a>
                                <div class="name">
                                    <a class="blue-link" target="_blank"
                                       href="/user/list?uid=<%= item.user.uid %>"><%= item.user.name %></a>
                                    <span class="time"><%= item.date.toLocaleString() %></span>
                                </div>
                            </div>
                            <a class="title" target="_blank" href="<%= item.url %>">
                                <%= item.title %>
                            </a>
                            <p class="abstract">
                                <%= item.content.replace(/<[^>]+>/g, '').substring(0, 200) + '...' %>
                            </p>
                            <div class="meta">
                                <a class="collection-tag" target="_blank"
                                   href="/tags/<%= item.category %>"><%= item.category %>
                                </a>
                                <a target="_blank" href="/article/detail/<%= item.id %>">
                                    <i class="iconfont ic-list-read"></i>
                                    查看详情
                                </a>
                            </div>
                        </div>
                    </li>

                    <% }) %>

                </ul>
                <!-- 文章列表模块 -->

                <% include _pagination_subject.ejs %>

            </div>
        </div>

        <% include _aside.ejs %>
    </div>
</div>
</div>
<div class="side-tool">
    <ul>
        <li class="back-top hide"><a href="#"><i class="iconfont ic-backtop"></i></a></li>
    </ul>
</div>


<% include _footer.ejs %>
<% include _scripts.ejs %>
<% include _foot.ejs %>
